.main {
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: space-evenly;
  column-gap: 30px;
  padding: 6rem;
  min-height: 100vh;
}
.cardsWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}
